# Google Maps API Key
# Get one here: https://console.cloud.google.com/google/maps-apis/credentials
VITE_GOOGLE_MAPS_API_KEY=your_api_key_here

# Auth
# OAuth 2.0 Client IDs - Web application type - https://console.cloud.google.com/auth/clients?project=mapbridge-486004
VITE_GOOGLE_CLIENT_ID=
# OAuth 2.0 Client IDs - iOS type - https://console.cloud.google.com/auth/clients?project=mapbridge-486004
VITE_IOS_GOOGLE_CLIENT_ID=
# iOS Identifiers  (Services IDs) - https://developer.apple.com/account/resources/identifiers/list/serviceId
VITE_APPLE_CLIENT_ID=
# iOS Bundle ID (App IDs) - https://developer.apple.com/account/resources/identifiers/list/bundleId
VITE_IOS_APPLE_CLIENT_ID=
# Apple Callback URL - App IDs (Sign in with Apple) - https://developer.apple.com/account/resources/identifiers/bundleId/edit/5CAQ87L44P
VITE_APPLE_REDIRECT_URI=
# URL base
VITE_API_BASE_URL=

EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASS=